<!DOCTYPE HTML>
<html>
<head>
<script src="../core/jquery-min.js"></script>
<script src="../core/underscore-min.js"></script>
<script src="../vo.js"></script>

<link rel="stylesheet" href="http://static.inpost.kr/lib/bootstrap/2.1.1/css/bootstrap.min.css" />
<script src="http://static.inpost.kr/lib/bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script>
    var PersonList = function() {
    	vo.applyTo(this);
    	
    	var persons = [];
    	var act = this.act,
    		tpl = this.tpl,
    		tag = this.tag;
    	
    	function update() {
    		tpl.personList({ persons: persons });
    	}
    	
    	act.addPerson = function(e) {
    		persons.push(tag.val("person")); update();
    	}
    	
    	act.deletePerson = function(e, key) {
    		persons.splice(key, 1);	update();
    	}
    }
    
    $(function() {
    	new PersonList();
	});	
</script>
</head>
<body>
	<!-- Main, Table -->
	<table class="table table-bordered">
  		<thead>
			<tr>
				<th width="25%">Name</th>
				<th width="25%">Age</th>
				<th width="25%">Location</th>
				<th width="25%">-</th>
			</tr>
		</thead>
		<tbody data-tpl="personList">
			<!-- include template -->
		</tbody>
	</table>
	
	<!-- Main, Button -->
	<button class="btn btn-large btn-primary" type="button" data-toggle="modal" href="#showInput">Add</button>
	
	<!-- Modal Popup, Add Person -->
	<div id="showInput" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h3>Person Information</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
			<fieldset>
				<div class="control-group">
		            <label class="control-label" for="input01">Name</label>
		            <div class="controls">
						<input type="text" class="input-xlarge" data-tag="name:person">
		            </div>
				</div>
				<div class="control-group">
		            <label class="control-label" for="input01">Age</label>
		            <div class="controls">
						<input type="text" class="input-xlarge" data-tag="age:person">
		            </div>
				</div>
				<div class="control-group">
		            <label class="control-label" for="input01">Location</label>
		            <div class="controls">
						<input type="text" class="input-xlarge" data-tag="location:person">
		            </div>
				</div>
			</fieldset>
			</form>
		</div>
		<div class="modal-footer">
		    <a href="#" class="btn" data-dismiss="modal">Close</a>
		    <a href="#" class="btn btn-primary" data-act="addPerson">Add</a>
		</div>
	</div>

	<!-- Template, Person List -->
	<script id="personList" type="text/template">
		<% for(var i in persons) { %>
		<tr>
			<td><%= persons[i].name %></td>
			<td><%= persons[i].age %></td>
			<td><%= persons[i].location %></td>
			<td><button class="btn btn-mini" type="button" data-act="<%= i %>:deletePerson">Delete</button></td>
		</tr>
		<% } %>
	</script>
</body>
</html>